#card_banner,
#manga_populer {
    display: none;
}

#logo-nakamanga {
    position: relative;
    left: -300px;
    opacity: 0;
}

.nav-item {
    background-color: transparent;
    border-radius: 10px;
}

#linkNavbar>.active,
.nav-item:hover {
    background-color: #8365bc;
    color: #002155;
}

.detail-pop {
    display: none;
}

.detail-pop,
.detail-pop:hover {
    padding-left: 5%;
    background-color: #8365bc;
    color: #002155;
}
