
#card_banner,
#manga_populer {
    display: none;
}

#logo-nakamanga {
    position: relative;
    left: -300px;
    opacity: 0;
}

.nav-item {
    background-color: transparent;
    border-radius: 10px;
}

#linkNavbar>.active,
.nav-item:hover {
    color: #fff;
}

.detail-pop {
    display: none;
}

.detail-pop,
.detail-pop:hover {
    padding-left: 5%;
    background-color: #00183e;
    color: #c2c2c2;
}

#scrl-up {
    display: none;
    z-index: 1;
    position: fixed;
    left: 94%;
    top: 88%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #8365bc;
    color: #fff;
}

#ad_filter {
    display: none;
}
