.list_populer {
    color: #c2c2c2;
    font-size: 14px;
}

a:hover {
    text-decoration: none;
}


body {
    background-color: #00183e;
    background-image: url('/img/background_2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #00183e;
}

.bg_awal {
    background-image: url('/img/landing3.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/*Header Start*/
#nav_head {
    background-color: #002155;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    padding: 3px;
    width: 100px;
}

.example4 .navbar-brand>img {
    padding: 7px 14px;
}

/*populer Start*/

.text-on-pannel {
    background: #fff none repeat scroll 0 0;
    height: auto;
    margin-left: 20px;
    padding: 3px 5px;
    position: absolute;
    margin-top: -47px;
    border: 1px solid #337ab7;
    border-radius: 8px;
}

.panel {
    /* for text on pannel */
    margin-top: 27px !important;
}

.panel-body {
    padding-top: 30px !important;
}

#bungkus {
    background-color: #002155;
    color: #8365bc;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-left: 2px;
}


/*populer End*/

/*Header End*/

/*Footer Start*/


/*Footer End*/

#populer {
    background: #002155;
    border: 1px solid #002155;
}

#populer2 {
    color: #8365bc;
    background: #002155;
    border: 1px solid #002155;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 5px;
    font-size: 24px;
}

#populer4 {
    color: #8365bc;
    background: #002155;
    border: 1px solid #002155;
}

#populer3 {
    color: #8365bc;
    background: #1D1B26;
    border-bottom: 1px solid #312f40;
}

#search {
    background: #00183e;
    border: 1px solid #00183e;
    color: #aaa;
}

#title_manga>a {
    color: #c2c2c2;
    font-family: heebo, sans-serif;
    font-size: 17px;
}

#title_manga>a:hover {
    color: #8365bc;
}

#title_manga>h5 {
    color: #c2c2c2;
}

#judul_panel {
    color: #8365bc;
    background-color: #002155;
    border-bottom: 2px solid #8365bc;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
}

#manga_populer {
    border: solid 1px #002155;
    width: 102%;
}

.list-group-item:hover {
    background-color: #00183e;
    border: solid 1px #00183e;
}

.list-group-item {
    background-color: #002155;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 3px;
    padding-left: 3px;

}

.list-group-item a {
    color: #c2c2c2;

}

.list-group-item a:hover {
    color: #8365bc;
}


#genre_manga,
#genre_manga>a {
    color: #c2c2c2;
    font-size: 14px;
    padding-bottom: 10px;
}

#genre_manga,
#title_manga {
}

#genre_manga>a:hover {
    color: #8365bc;
}

#judul_manga {
    color: #8365bc;
    border-bottom: 2px solid #8365bc;
}

.list_genre {
    background: #002155;
    border: 1px solid #002155;
}

.btn {
    color: white;
    background-color: #060af8;
    border-color: #060af8;
}

.btn:hover {
    color: white;
    background-color: #8365bc;
    border-color: #8365bc;
}


/* #linkNavbar>.active>a {
    color: #fff;
    background-color: #8e0000;
    border-radius: 5px;
} */

#linkNavbar>li {
    margin-right: 6px;
    margin-left: 6px;
}

#unduh {
    padding: 2px 8px 2px 8px;
}

/* Darker background on mouse-over */
.unduh:hover {
    background-color: RoyalBlue;
}

.next {
    background-color: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    font-family: Arial Rounded MT Bold;
}

/* Darker background on mouse-over */
.next:hover {
    background-color: none;
}

#myFooter {
    background-color: #002155;
    color: white;
    border-top: 1px solid #000;
}

#myFooter .row {
    margin-bottom: 5px;
}

#myFooter .info {
    text-align: justify;
    color: #afb0b1;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .logo {
    margin-top: 10px;
}

#myFooter .second-bar .logo a {
    color: white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .second-bar {
    text-align: center;
    background-color: #33373e;
    text-align: center;
}

#myFooter .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    float: right;
}


#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info {
        text-align: center;
    }
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html {
    height: 100%;
}

body {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
}

#myFooter {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

#img_footer {
    padding-left: 40px;
    padding-top: 47px;
}

#banner_home {
    padding: 5px 5px 5px 5px;
    background: #002155;
}

.bannerr {
    width: 100%;
}

/* #banner_rumah {
    padding-left: 250px;
} */

#banner_req {
    max-height: 280px;
}

.credit {
    font-style: italic;
    font-weight: bold;
    color: #c2c2c2;
}

#card_banner {
    border: solid 1px #002155;
    background: #002155;
}

#banner_top {
    color: #8365bc;
    background-color: #002155;
    border-bottom: 2px solid #8365bc;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
}

.detail-komik>.list-group-item,
.detail-komik>.list-group-item:hover {
    border: 0;
    background-color: #002155;
}

.alert-primary {
    background-color: #002155;
    border-color: #002155;
}

.dropdown-menu.show {
    display: block;
    background: #00183e;
    color: #c2c2c2;
}

.option_select {
    color: #c2c2c2;
}

.selectpicker>.option_select:hover {
    color: #c2c2c2;
    background-color: #8365bc;
}

#btn_huruf,
.btn {
    margin-right: 5px;
}

#label_filter {
    width: 243px;
    color: #c2c2c2;
    border-bottom: solid 2px #c2c2c2;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #002155;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #00183e;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container {
    margin-top: 50px;
}

.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #060af8 !important;
    color: #c2c2c2 !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #060af8 !important;
}

#input_login {
    padding-left: 47px;
}

#input_pw {
    padding-left: 47px;
}

#input_remember {
    padding-left: 28px;
}

#form_login {
    padding-top: 100px;
}

#remember {
    color: #c2c2c2;
}

#input_login>.form-control,
.input_user {
    background-color: #00183e;
    border: 1px solid #00183e;
}

#top_register {
    padding-top: 70px;
}

.register_input>input {
    width: 190px;
}

#icon_register>span>i {
    width: 20px;
}

.navbar-laravel {
    background-color: #002155;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .04);
}

#nav_admin>a {
    color: rgba(255, 255, 255, .5);
}

#nav_admin2>a {
    color: rgba(255, 255, 255, .5);
}

#nav_admin>a:hover {
    color: white;
}

#nav_admin2>a:hover {
    color: white;
}

.bg-primary {
    background-color: #002155 !important;
}

.card_komik {
    background-color: #002155;
    color: #c2c2c2;
}

.table-bordered td,
.table-bordered th,
.table_komik,
.table thead th,
.table-bordered {
    border: 2px solid #8365bc;
}

.form-control {
    background-color: #00183e;
    border: 1px solid #00183e;
    color: #c2c2c2;
}

.dropdown-item {
    color: #c2c2c2;
}

.font_request {
    color: #c2c2c2;
}
.fa-minus-circle:before{
    color: #8365bc;
}
#iklan {
    border: solid 1px #002155;
}
#judul_iklan{
    color: #8365bc;
    background-color: #002155;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
}
#judul_iklan img {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
#iklan_detail{
    padding-top: 25%;
}
#iklan_baca{
    padding-top: 4%;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {

    background-color: #060af8;
    border-radius: 4px;
    color: #fff;
    width: 100%;
}

