.list_populer {
    color: #c2c2c2;
    font-size: 14px;
}

a:hover {
    text-decoration: none;
}

body {
    background-image: url('/img/background_2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/*Header Start*/
#nav_head {
    background-color: #002155;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    padding: 3px;
    width: 100px;
}

.example4 .navbar-brand>img {
    padding: 7px 14px;
}

/*populer Start*/

.text-on-pannel {
    background: #fff none repeat scroll 0 0;
    height: auto;
    margin-left: 20px;
    padding: 3px 5px;
    position: absolute;
    margin-top: -47px;
    border: 1px solid #337ab7;
    border-radius: 8px;
}

.panel {
    /* for text on pannel */
    margin-top: 27px !important;
}

.panel-body {
    padding-top: 30px !important;
}

#bungkus {
    background-color: #002155;
    color: #8365bc;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-left: 2px;
}


/*populer End*/

/*Header End*/

/*Footer Start*/


/*Footer End*/

#populer {
    background: #002155;
    border: 1px solid #002155;
}

#populer2 {
    color: #8365bc;
    background: #002155;
    border: 1px solid #002155;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 5px;
    font-size: 24px;
}

#populer4 {
    color: #8365bc;
    background: #002155;
    border: 1px solid #002155;
}

#populer3 {
    color: #8365bc;
    background: #1D1B26;
    border-bottom: 1px solid #312f40;
}

#search {
    background: #00183e;
    border: 1px solid #00183e;
}

#title_manga>a {
    color: #c2c2c2;
    font-family: heebo, sans-serif;
    font-size: 17px;
}

#title_manga>a:hover {
    color: #8365bc;
}

#title_manga>h5 {
    color: #c2c2c2;
}

#judul_panel {
    color: #8365bc;
    background-color: #002155;
    border-bottom: 2px solid #8365bc;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
}

#manga_populer {
    border: solid 1px #002155;
}

.list-group-item:hover {
    background-color: #00183e;
    border: solid 1px #00183e;
}

.list-group-item {
    background-color: #002155;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 3px;
    padding-left: 3px;

}

.list-group-item a {
    color: #c2c2c2;

}

.list-group-item a:hover {
    color: #8365bc;

}

#genre_manga,
#genre_manga>a {
    color: #c2c2c2;
    font-size: 14px;
    padding-bottom: 10px;
}

#genre_manga,
#title_manga {
    padding-left: 20px;
}

#genre_manga>a:hover {
    color: #8365bc;
}

#judul_manga {
    color: #8365bc;
    border-bottom: 2px solid #8365bc;
}

.list_genre {
    background: #002155;
    border: 1px solid #002155;
}

.btn {
    color: white;
    background-color: #060af8;
    border-color: #060af8;
}

.btn:hover {
    color: white;
    background-color: #8365bc;
    border-color: #8365bc;
}

#linkNavbar>li {
    margin-right: 6px;
    margin-left: 6px;
}

#unduh {
    padding: 2px 8px 2px 8px;
}

/* Darker background on mouse-over */
.unduh:hover {
    background-color: RoyalBlue;
}

.next {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 2px 8px 2px 8px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 3px;
    font-family: Arial Rounded MT Bold;
}

/* Darker background on mouse-over */
.next:hover {
    background-color: RoyalBlue;
}

#myFooter {
    background-color: #002155;
    color: white;
    border-top: 1px solid #000;
}

#myFooter .row {
    margin-bottom: 5px;
}

#myFooter .info {
    text-align: justify;
    color: #afb0b1;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .logo {
    margin-top: 10px;
}

#myFooter .second-bar .logo a {
    color: white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .second-bar {
    text-align: center;
    background-color: #33373e;
    text-align: center;
}

#myFooter .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    float: right;
}


#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info {
        text-align: center;
    }
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html {
    height: 100%;
}

body {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
}

#myFooter {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

#img_footer {
    padding-top: 30px;
    padding-left: 50px;
}

#banner_home {
    padding: 5px 5px 5px 5px;
    background: #002155;
}

#card_banner {
    border: solid 1px #002155;
    background: #002155;
}

#banner_top {
    color: #8365bc;
    background-color: #002155;
    border-bottom: 2px solid #8365bc;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
}

.detail-komik>.list-group-item,
.detail-komik>.list-group-item:hover {
    border: 0;
    background-color: #002155;
}

.alert-primary {
    background-color: #002155;
    border-color: #002155;
}

.dropdown>.btn,
.selectpicker,
.option_select {
    width: 155px;
}

.dropdown-menu.show {
    display: block;
    background: #00183e;
    color: #c2c2c2;
}

.option_select {
    color: #c2c2c2;
}

.selectpicker>.option_select:hover {
    color: #c2c2c2;
    background-color: green;
}

#btn_huruf,
.btn {
    margin-right: 5px;
}

#label_filter {
    width: 155px;
    color: #c2c2c2;
    border-bottom: solid 2px #c2c2c2;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

.dropdown-item {
    color: #c2c2c2;
}

.dropdown-item:hover {
    color: #c2c2c2;
    background-color: #002155;
}
